{% extends 'appbuilder/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}

{% block body %}
    {% include 'appbuilder/general/confirm.html' %}
    {% include 'appbuilder/general/alert.html' %}

    {% block navbar %}
      {% if request.path != '/login/' %}
        <header class="top" role="header">
        {% include 'appbuilder/navbar.html' %}
        </header>
      {% endif %}
    {% endblock %}

    {% block uncontained %}{% endblock %}

    <div>
        {% block messages %}
            {% if request.path != '/login/' %}
                {% include 'superset/flash_wrapper.html' %}
            {% endif %}
            {% if request.path == '/login/' %}
                <div class="flash-wrapper-login">
                    {% include 'superset/flash_wrapper.html' %}
                </div>
            {% endif %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="container-fluid">
        {% block content_fluid %}
        {% endblock %}
    </div>

    {% block footer %}
{#        <footer>#}
{#          <div class="img-rounded nav-fixed-bottom">#}
{#              <div class="container-fluid">#}
{#                  {% include 'appbuilder/footer.html' %}#}
{#              </div>#}
{#          </div>#}
{#        </footer>#}
    {% endblock %}
{% endblock %}

