{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}

<div class="navbar navbar-static-top {{menu.extra_classes}}" role="navigation">
  <div class="nav-container">
    <div class="container-left">
      <div class="navbar-logo">
        <a class="navbar-logo" title="星环信息科技有限公司" href="javascript:void(0)">
          <i class="icon"></i>
        </a>
      </div>
      <ul class="nav">
        {% include 'appbuilder/navbar_menu.html' %}
      </ul>
    </div>
    <ul class="container-right">
      <li>
        <!-- <a href="http://airbnb.io/superset" target="_blank" title="{{ _('Documentation') }}" >
          <i class="icon"></i> &nbsp;
        </a> -->
      </li>
      {% include 'appbuilder/navbar_right.html' %}
    </ul>
  </div>
</div>

{% set WARNING_MSG = appbuilder.app.config.get('WARNING_MSG') %}
{% if WARNING_MSG %}
  <div class="container">
    <div id="navbar-warning" class="alert alert-danger">
      {{ WARNING_MSG | safe }}
    </div>
  </div>
{% endif %}
