{
  "presets" : [
  	"airbnb", 
  	"env", 
  	"stage-0"
  ],

  "plugins": [
    "transform-decorators-legacy",
	"transform-proto-to-assign",
    [
      "transform-class-properties", { "spec": true }
    ],
    ["import", { libraryName: "antd", style: "css" }] // `style: true` 会加载 less 文件
  ]
}
