
.move{
	.ant-select-selection--single {
        width: 420px;
    }
}
#tree-select-box{
    .ant-select-dropdown-search{
    	display: block;
    	width:100%;
    }

    .ant-select-tree li>span{
    	float:left;
    	display:inline-block;
    }

    .ant-select-tree-node-content-wrapper{
    	width:360px;
    }
}
