<!-- extend base layout -->
{% extends "appbuilder/base.html" %}

{% block content %}

<div class="login">
    <div class="login-navbar">
        <i class="logo-navbar"></i>
{#        <i class="icon icon-internationalization"></i>#}
    </div>
    <form class="login-form" action="" method="post" name="login">
        {{form.hidden_tag()}}
        <div class="logo-form">
            <i class="logo-icon"></i>
        </div>
        <div class="content-form">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                {{ form.username(size = 80, class = "form-control") }}
            </div>
            {% for error in form.errors.openid %}
                <span class="help-inline">[{{error}}]</span><br>
            {% endfor %}

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form.password(size = 80, class = "form-control") }}
            </div>
            {% for error in form.errors.openid %}
                <span class="help-inline">[{{error}}]</span><br>
            {% endfor %}
        </div>
        <div class="operation-form">
            <input class="btn btn-primary btn-block" type="submit" value="{{_('Sign In')}}">
            <div class="copyright">
                {% if appbuilder and appbuilder.get_app.config.get("COPYRIGHT") %}
                    {{ appbuilder.get_app.config.get("COPYRIGHT") }}
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
