.icon{
    background-image:url(../../../images/icon-img/icon.png);
    display:inline-block;
    width:20px;
    height:20px;
}

.HDFS{
    width:14px;height:16px;background-position:-133px -371px;
    cursor: default;
}
.Inceptor{
    width:13px;height:21px;background-position:-93px -369px;
    cursor: default;
}
.upload{
    width:15px;height:16px;background-position:-172px -371px;
    cursor: default;
}

.list-table-column {
    background-color: #fff;
    input[type="checkbox"][readonly] {
        pointer-events: none;
    }

    input[type="checkbox"] {
        float: none;
    }
}
.sql-metric {
    background-color: #fff;
}

ul > li .ant-select-selection {
    border: none;
    height: 26px;
}

.file-browser, .file-name, .file-upload {
    width: 200px;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.file-browser {
    cursor: pointer;
    background-color: #279cf2;
    span {
        margin-left: 5px;
    }
}
.file-name {
    justify-content: flex-start;
    span {
        margin-left: 5px;
    }
}
.file-upload {
    cursor: pointer;
    background-color: #2ccc26;
    .file-select {
        position: absolute;
        clip: rect(0 0 0 0);
    }
}

.table-content .ant-table-placeholder {
    display: none;
}

.table-content .ant-table-header{
    display: none;
}

.preview-table {
    overflow-x: auto;
}

.ant-table-thead > tr > th {
    word-break: normal;
}

.ant-table-tbody > tr > td {
    word-break: normal;
}

.link-disabled {
    cursor: not-allowed;
    pointer-events: none;
}

