
.dashboard-icon {
    background-position: -250px -50px;
}

.database-icon {
    background-position: -8px -90px;
}

.table-icon {
    background-position: -47px -90px;
}

.slice-icon {
    background-position: -290px -50px;
}

.user-icon {
    background-position: -130px -90px;
}


.data-tendency{
    border-radius: 4px;
    padding:0 20px;
    margin:20px 0;
    min-width: 1100px !important;

    .highcharts-tooltip {
        .line-tooltip {
            width: 115px;
            height: 92px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .tooltip-header {
            width: 80%;
            height: 28px;
            border-bottom: 1px solid #323f53;
        }

        .tooltip-body {
            margin-top: 10px;
            width: 80%;
            .yesterday {
                display: flex;
                justify-content: space-between;
            }

            .today {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .data-title{
        display:flex;
        justify-content:center;
        padding:25px 0;
        h2{
            border-right:1px solid #edf1f5;
            padding:0 45px;
            text-align:center;
            dl {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            dt{
                i{
                    width: 26px;
                    height: 22px;;
                    margin-bottom: 16px;
                    margin-right: 8px;
                }
            }
            dd{
                user-select: none;
                .count {
                    font-size:36px;
                    color:#1d2531;
                    text-align: left;
                }

                .name {
                    color: #9fa9ba;
                    text-align: left;
                }

                .current {
                    color: #0083f8;
                }
            }
        }
    }
    .dashboard-linechart{
        height: 240px;
    }
}

.top10-and-worktimes{
    display:flex;
    overflow: hidden;
    min-width: 1100px;
    .top10{
        overflow: hidden;
        flex:1;
        @include border();
        margin-right: 18px;
        .index-title-module{
            .transparent{
                width: 138px;
            }
        }

    }

    .worktimes{
        @include border();
        flex:1;
        overflow:hidden;
    }
}
.recentedit-and-event{
    min-width: 1100px;
    margin:20px 0;
    display:flex;

    .more-icon {
        width: 10px;
        height: 18px;
        text-align: center;
        background-position: -92px -90px;
        margin-left: auto;
        margin-right: auto;
    }

    th {
        height: 30px;
        padding: 12px 8px;
    }

    .recentedit{
        flex:1;
        margin-right:18px;

        .edit-list{
            .ant-table table {
                border-collapse: collapse !important;

                .name-column {
                    padding-left: 20px;
                }

                th {
                    span {
                        font-weight: 500;
                    }
                }

                .ant-table-row {
                    border-left: 4px solid #ffffff;
                    &:hover {
                        border-left: 4px solid #289df5;
                    }

                    .time-column {
                        font-size: 14px;
                        color: #7f8fa4;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .name-column {
                        width: 160px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        padding-left: 20px;
                        font-weight: bold;
                    }

                    .action-column {
                        width: 300px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    td {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        font-size: 14px;
                        padding: 6px 8px;
                        height: 40px;

                        span {
                            font-weight: 500;
                        }

                        a {
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    .event{
        flex:1;
        .event-list{
            .ant-table table {
                border-collapse: collapse !important;

                .ant-table-thead {
                    .user-column {
                        padding-left: 24px;
                    }
                }

                th {
                    span {
                        font-weight: 500;
                    }
                }

                .ant-table-row {
                    border-left: 4px solid #ffffff;
                    &:hover {
                        border-left: 4px solid #289df5;
                    }

                    .user-td {
                        display: flex;
                        align-items: center;

                        .user-icon {
                            margin-right: 6px;
                            margin-top: 4px;
                        }
                    }

                    .time-column {
                        font-size: 14px;
                        color: #7f8fa4;
                        white-space: nowrap;
                    }

                    .user-column {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 160px;
                        padding-left: 20px;
                    }

                    .action-column {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 290px;
                    }

                    .action-text {
                        margin-left: 22px;
                        color: #333c48;
                        font-size: 14px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 268px;
                    }

                    .action-title {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        color: #7f8fa4;
                    }

                    .action-title-icon {
                        margin-right: 4px;
                    }

                    td {
                        padding: 8px;

                        a {
                            font-weight: 500;
                        }

                        span {
                            font-weight: 500;
                        }

                        div {
                            font-weight: 500;
                        }
                    }

                    .icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            ul{
                display:flex;
                height:53px;
                align-items:center;
                border-bottom:$borderStyle;
                li{
                    flex:1;
                    color:#333c48;
                    .round-bg{
                        display:inline-block;
                        margin-left:20px;
                         width:18px;
                         height:18px;
                         border-radius:50%;
                         background-color:#e6f2ff;
                         text-align:center;
                         position:relative;
                         top:2px;
                         svg{
                            width:9px;
                            height:11px;
                            fill:#2a9ef5;
                         }
                    }

                    .explore_json-type{
                        dl{
                            dt{
                                font-size:14px;
                                padding-left:20px;

                            }
                            dd{
                                svg{
                                    width:16px;
                                    height:16px;
                                    fill:orange;
                                    position:relative;
                                    top:3px;
                                }
                                strong{
                                    color:#7c8ca5;
                                }
                            }
                        }
                    }
                }
                li:first-child{
                    color:#2499f2;
                    font-size:14px;
                }
                li:last-child{
                    font:12px Arial;
                }
            }
            ul:last-child{
                border:0;
            }
        }
    }
    .more{
        width:77px;
        padding-right:15px;
        text-align:right;
        svg{
            width:20px;
            height:20px;
            fill:#aeb7bc;
            cursor:pointer;
        }
    }
}
.times-barchart{
    min-height: 300px;
}

.edit-detail-page {
    .edit-detail-page-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;

        .left {
            .title {
                color: #354052;
                font-size: 18px;
            }

            .count-title {
                color: #7f8fa4;
                font-size: 14px;
                margin-left: 10px;
                margin-right: 8px;
            }

            .count-value {
                color: #ccd3da;
                font-size: 14px;
            }
        }

        .right {
            display: flex;
            align-items: center;

            .back-button {
                margin-left: 20px;
                color: #2ccc26;
                width: 70px;
                height: 30px;
            }

            .title-tab {
                li {
                    background-color: #ffffff;
                }
            }
        }
    }

    .edit-table {
        background-color: #ffffff;

        .ant-table table {
            border-collapse: collapse !important;

            .name-column {
                padding-left: 20px;
            }

            .ant-table-row {
                border-left: 4px solid #ffffff;
                &:hover {
                    border-left: 4px solid #289df5;
                }

                td {
                    font-size: 14px;

                    a {
                        font-weight: 500;
                    }

                    span {
                        font-weight: 500;
                    }
                }

                .time-col {
                    color: #7f8fa4;
                }
            }
        }
    }

    .ant-table-pagination {
        float: none;
    }
}

.event-detail-page {
    .event-detail-page-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;

        .title {
            color: #354052;
            font-size: 18px;
        }

        .back-button {
            margin-left: 20px;
            color: #2ccc26;
            width: 70px;
            height: 30px;
        }
    }

    .ant-table-pagination {
        float: none;
    }

    .event-table {
        background-color: #ffffff;

        .ant-table table {
            border-collapse: collapse !important;

            .user-column {
                padding-left: 20px;
            }
            
            .ant-table-row {
                border-left: 4px solid #ffffff;
                &:hover {
                    border-left: 4px solid #289df5;
                }

                .time-col {
                    color: #7f8fa4;
                }

                td {
                    a {
                        font-weight: 500;
                    }

                    span {
                        font-weight: 500;
                    }
                }

                .user-td {
                    display: flex;
                    align-items: center;

                    .user-icon {
                        margin-right: 6px;
                    }
                }

                .action-text {
                    margin-left: 22px;
                    color: #333c48;
                    font-size: 14px;
                }

                .action-title {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    color: #7f8fa4;
                }

                .action-title-icon {
                    margin-right: 4px;
                }

                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

