.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-image: url(../../images/icon-img/login.png);
    .login-navbar {
        position: fixed;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        background-color: #0067a6;
    }
    .login-navbar .logo-navbar {
        display:block;
        height:36px;
        width:165px;
        background-size: 165px 36px;
        background-image: url(../../images/icon-img/pilot-white.png);
    }
    .login-form {
        width: 600px;
        height: 400px;
        padding: 40px 150px;
        margin-top: 160px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.4);
        //opacity: 0.6;
        border-radius: $borderRadius;
        border: solid 1px #fff;
    }
    .login-form .logo-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 300px;
        .logo-icon {
            height:65px;
            width:300px;
            background-size: 300px 65px;
            background-image: url(../../images/icon-img/pilot-red.png);
        }
    }
    .login-form .content-form {
        margin-top: 30px;
        .input-group {
            margin-bottom: 20px;
            height: 34px;
            border-radius: $borderRadius;
            border: solid 1px rgb(223, 227, 233);
        }
        .input-group-addon, .form-control {
            padding: 4px 10px;
            height: 34px;
        }
        .input-group-addon {
            width: 42px;
        }
    }
    .login-form .operation-form {
        margin-top: 40px;
        .btn-primary {
            color: #fff;
            font-size: 14px;
            font-family: "Microsoft Yahei";
            height: 36px;
            margin-bottom: 40px;
            border-radius: $borderRadius;
            background-color: rgb(39, 156, 242);
        }
        .copyright {
            margin-top: 30px;
            text-align: center;
            font-size: 14px;
            font-family: Arial;

        }
    }
}
