$borderRadius:4px;
.tp-btn{
    border-radius:$borderRadius;
    text-align:center;
    color:#fff;
}
.tp-btn-middle{
    width:120px;
    height:34px;
    font:16px/34px;
}
.tp-btn-primary{
    background-color:#2acc28;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button.test-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 104px;
    border-radius: 4px;
    background-color: #c5d0de;
    span {
        color: #fff;
        font-size: 14px;
        margin-left: 5px;
    }
}
.item-connect-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** for custom popup and react-bootstrap modal header css style **/
.popup-header {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: #0067a6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #fff;
    .header-left{
        display:flex;
        align-items:center;
        span{
            margin-left: 10px;
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    .popup-dialog {
        height: auto;
        z-index: 2000;
        background-color: #fff;
        border-radius: 4px;
        opacity: 1;
        .icon {
            cursor: pointer;
        }

    }
    .popup-lg {
        width: 900px;
    }

    .popup-md {
        width: 600px;
    }

    .popup-sm {
        width: 450px;
    }

    .popup-content {
        width: 100%;
        height: auto;
    }

    .popup-body {
        width: 100%;
        min-height: 200px;
        padding: 20px 40px;
    }

    .popup-footer {
        width: 100%;
        height: 50px;
        background-color: #f0f3f8;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .dialog-item {
        padding-bottom: 10px;
        display:flex;
        align-items:center;
        .item-left {
            width: 17%;
            text-align:right;
            
            .item-label {
                color: #7f8fa4;
            }
        }
        .item-right {
            width: 83%;

            .dialog-area{
                width:100%;
                height:79px;
                border:$borderStyle;
                border-radius:4px;
                padding:10px;
            }

            .after-textarea-icon {
                position: absolute;
                margin-top: 30px;
                margin-left: 6px;
            }

            .after-input-icon {
                position: absolute;
                margin-top: 8px;
                margin-left: 6px;
            }
        }
        .space-between {
            display: flex;
            justify-content: space-between;
        }
    }
    .sub-item {
        width: 50%;
        display:flex;
        .item-left {
            width: 30%;
            text-align:right;

        }
        .item-right {
            width: 70%;

        }
    }

    input.dialog-input {
        height: 32px;
    }

    input.dialog-input-sm {
        width: 246px;
    }

    input.inline {
        display: inline;
    }

    input.dialog-area {

    }
    .error {
        margin-bottom: 20px;
        .ant-alert {
            padding: 5px 5px 5px 60px;
        }
    }
    .warning {
        margin-top: 30px;
    }
}

.popup-modal-add-slice .modal-dialog {
    width: 900px;
    .search-input{
        text-align: right;
        position:relative;
        input {
            width:243px;
            height:30px;
            border:$borderStyle;
            border-radius: 4px;
            padding-left:10px;
        }
        i {
            position:absolute;
            top:10px;
            right:15px;
        }
    }
}

/*  overlay modal-dialog css  */

.modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    .modal-content {
        width: 100%;
        .modal-header {
            height: 40px;
            color: #fff;
            padding: 0;
            background-color: #0067a6;
        }

        .modal-body {

            .form-group .radio {
                width: 100%;
                height: 20px;
                border: none;
                background: transparent;
            }
            .dialog-item {
                padding-bottom: 10px;
                display:flex;
                align-items:center;
                .item-left {
                    width: 15%;
                    text-align:right;

                }
                .item-right {
                    width: 85%;

                    .dialog-area{
                        width:100%;
                        height:79px;
                        border:$borderStyle;
                        border-radius:4px;
                        padding:10px;
                    }
                }
            }
        }

        .modal-footer {
            background-color: #f0f3f8;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            padding: 0;
            button {
                color:#fff;
                width:120px;
                height:34px;
                padding: 0;
                text-align:center;
                font-size:16px;
                background-color:#2acc28;
                border-radius:$borderRadius;
            }
        }
    }
}


