.SqlLab {
	.container-fluid {
		padding: 20px;

		.nav-tabs {
			border: none;

			.active > a {
				border-top: 2px solid #0083f8;
				border-left: solid 1px #e6eaee;
				border-right: solid 1px #e6eaee;

				.query-title {
					color: #354052
				}
			}

			li {
				height: 41px;
				border-top: solid 1px #e6eaee;

				&:last-child {
					border: none;
				}

				&:nth-last-child(2) > a {
					border-right: 1px solid #e6eaee;
				}

				&:first-child > a {
					border-left: 1px solid #e6eaee;
				}
				
				&:hover > a {
					border-bottom: none;
				}
			}

			li > a {
				border: none;
				border-radius: 3px;

				&:focus {
					outline: none;
				}

				.query-title {
					color: #a8aab7;
				}

				.circle {
					width: 14px;
					height: 14px;
					background-color: rgba(169, 171, 183, 0.3);
					display: inline-flex;
					align-items: center;
					justify-content: center;
					vertical-align: text-top;

					.circle-sm {
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: #a8aab7;
					}
				}

				.circle-failed {
					background-color: rgba(250, 51, 141, 0.3);

					.circle-sm {
						background-color: #fa348c;
					}
				}

				.circle-success {
					background-color: rgba(0, 133, 250, 0.3);

					.circle-sm {
						background-color: #0083f8;
					}
				}
			}

			.add-query-tab {

				a {
					padding-top: 8px;
					padding-bottom: 0px;
				}

				.add-query-icon {
					width: 26px;
					height: 26px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 4px;
					background-color: rgba(0, 135, 245, 0.2);

					.fa-plus {
						color: #0089f7;
						font-size: 12px;
						margin-left: 4px;
    					margin-top: 2px;
					}
				}
			}

			.dropdown-menu {
				li > a {
					border: none;
				}

				li {
					border: none;
				}
			}
		}

		.tab-content {
			border: 1px solid #e6eaee;

			.SqlEditor {
				.collapse {
					border-right: 2px solid #dfe3e9;

					.select-title {
						color: #7c8ca5;
						margin-bottom: 6px;
					}

					.table-elements {
						.collapse {
							border: none;

						}

						.TableElement  {

							hr {
								margin-top: 10px;
							}

							.table-element-title {
								display: flex;
								align-items: center;
								justify-content: space-between;
								height: 42px;
    							line-height: 42px;

								.table-name-title {
									flex: 1;
									display: inline-flex;
									align-items: center;

									.table-name {
										font-size: 14px;
										color: #354052;
										text-decoration: none !important;

										i {
											color: #0089f7;
										}
									}
								}

								.operation-bar {
									display: inline-flex;
									align-items: center;
									border: 1px solid #e9eaed;
									border-radius: 4px;

									a {
										width: 28px;
									    height: 28px;
										border-right: 1px solid #e9eaed;
									    display: flex;
									    align-items: center;
									    justify-content: center;
									    margin-left: 0px;
									    margin-right: 0px;
									    text-decoration: none !important;
									    color: #bbc5d5;

									    &:focus {
									    	outline: none;
									    }

									    &:visited {
									    	outline: none;
									    }
									}

									.sort-cols {
										color: #354052;
									}

									.table-remove {
										border-right: none;
								    }
								}
							}
						}
					}
				}

				.editor-top-bar {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-bottom: 5px;

					.sql-toolbar-title {
						flex: 1;
						span {
							font-size: 16px;
							color: #354052;
						}
					}

					.operation-button {
						.query-btn {
							height: 36px;

							button{
								padding: 8px 10px;
								color: #ffffff;
							}
						}

						.btn-warning {
							background-color: #f9be00;
							border-color: #f9be00;
						}
					}
				}

				.timer-bar {
					position: absolute;
				    z-index: 1000;
				    top: 52px;
				    right: 10px;
				    width: 96px;
				    height: 30px;
				    display: flex;
				    align-items: center;
    				justify-content: center;
				    border-radius: 4px;
				    background-color: #ffffff;
				    border: solid 1px #e6eaee;

				    .label {
				    	color: #354052;
				    	background-color: #ffffff;
				    	padding: 0px;
				    }
				}

				#brace-editor {
					border-radius: 4px;
					background-color: #f2f3f5;
					border-color: #f2f3f5;
				}

				.SouthPane {
					.nav-tabs {
						li {
							border-bottom: none;
							border-top: 2px solid #e6eaee;
							border-radius: 3px;
							border-left: 1px solid #e6eaee;

							a {
								border: none;
								margin: 0;
								color: #a8aab7;
							}

							&:first-child {
								border-left: 1px solid #e6eaee;
								// border-right: 1px solid #e6eaee;
							}

							&:last-child {
								border-right: 1px solid #e6eaee;
							}
						}

						.active {
							border-top: 2px solid #0083f8;

							a {
								color: #354052;
							}
						}
					}

					.tab-content {
						padding: 0px;
					}

					.ResultSetControls {
						.control-bar {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							margin-top: 4px;
    						margin-bottom: 4px;


							.btn-group {
								display: inline-flex;

								.btn-sm {
									margin-right: 10px;
									height: 36px;
									border-radius: 4px;
									background-color: #ffffff;
									border: solid 1px #e6eaee;
									display: inline-flex;
    								align-items: center;
    								color: #a8aab7;

    								i {
    									margin-right: 4px;
    									color: #2acc28;
    									font-size: 14px;
    								}
								}
							}

							.ant-input-affix-wrapper {
								height: 36px;
							    width: 192px;
							    margin-right: 10px;

							    .ant-input-search-icon {
									color: #0083f8;
									font-size: 16px;
								}
							}

							.input-sm {
								width: 192px;
								height: 36px;
								margin-right: 10px;
								border-color: #e6eaee;
							}
						}
					}

					.ResultSet {
						.table {
							border: none;
							margin-bottom: 0px;

    						th {
    							height: 38px;
    							line-height: 38px;
    							background-color: #f5f8fa;
    							font-size: 14px;
								color: #7f8fa4;
								border: none;
								padding-left: 15px;

								&:focus {
									outline: none;
								}
    						}

    						tbody {
    							tr {
    								td {
    									border: none;
    									border-bottom: 1px solid #e7e9ed;
    									color: #354052;
    									height: 32px;
    									line-height: 32px;
    									padding-left: 15px;
    								}
    							}
    						}
						}
					}

					.QueryTable {
						.table {
							thead {
								th {
									height: 28px;
									line-height: 28px;
									font-size: 14px;
    								color: #7f8fa4;
									min-width: 40px;

    								&:first-child {
    									padding-left: 20px;
    								}

    								&:focus {
										outline: none;
									}
								}
							}

							.reactable-pagination {
								border: none;
								margin-top: 10px;

								td {
									text-align: center;
									height: 46px;
									line-height: 46px;

									a {
										float: none !important; 
									}
								}

								.custom-pagination > .reactable-current-page {
								    color: #fff;
								    cursor: default;
								    background-color: #2097f0;
								    border-color: #2097f0;
								}

								.custom-pagination > a:first-child {
								    border-top-left-radius: 4px;
								    border-bottom-left-radius: 4px;
								}

								.custom-pagination > a:last-child {
								    border-top-right-radius: 4px;
								    border-bottom-right-radius: 4px;
								    border-right-width: 1px;
								} 

								.custom-pagination > a {
								    position: relative;
								    float: left;
								    padding: 6px 12px;
								    line-height: 1.42857143;
								    color: #279cf2;
								    text-decoration: none;
								    background-color: #fff;
								    border: 1px solid #ddd;
								    border-right-width: 0px;
								}
							}

							tbody {

								td {
									vertical-align: middle;
								}

								td[label='state'] {
									padding: 0px;
									div {
										padding-left: 20px;
										display: flex;
										align-items: center;

										.label {
											width: 64px;
											height: 28px;
											font-size: 14px;
											border-radius: 4px;
											display: flex;
											align-items: center;
											justify-content: center;
											margin: 0px;
											padding: 0px;
											font-weight: normal;
										}

										.label-danger {
											background-color: #f9bed9;
										}

										.label-success {
											background-color: #2acc28;
											opacity: 0.5;
										}

										.label-warning {
											background-color: #f9be00;
										}

										.Link {
											margin-left: 4px;
											font-size: 14px;
										}
									}
								}

								td[label='started'], td[label='duration'], td[label='output'], td[label='rows'] {
									color: #354052;
									font-size: 14px;
								}

								td[label='progress'] {
									.progress {
										margin: 0;
									}
								}

								td[label='sql'] {
									.well {
										border-color: #f2f3f5;
										border-radius: 4px;
										background-color: #f2f3f5;

									}
								}

								td[label='actions'] {
									div {
										width: 100px !important;
										a {
											color: #2097f0;
											margin-right: 10px;
											font-size: 16px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}



