.icon{
    background-image:url(../../../images/icon-img/icon.png);
    display:inline-block;
    width:20px;
    height:20px;
}

.HDFS{
    width:14px;height:16px;background-position:-133px -371px;
}
.Inceptor{
    width:13px;height:21px;background-position:-93px -369px;
}
.upload{
    width:15px;height:16px;background-position:-172px -371px;
}

.popup{
    left:0; top:0;
}

.checkb input[type="checkbox"]{
    float:left;
}

button.test-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 104px;
    border-radius: 4px;
    background-color: #c5d0de;
    span {
        color: #fff;
        font-size: 14px;
        margin-left: 5px;
    }
}
.item-connect-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
