.icon{
    background-image:url(../../../images/icon-img/icon.png);
    display:inline-block;
    width:20px;
    height:20px;
}

.HDFS{
    width:14px;height:16px;background-position:-133px -371px;
}
.Inceptor{
    width:13px;height:21px;background-position:-93px -369px;
}
.upload{
    width:15px;height:16px;background-position:-172px -371px;
}

.popup{
    left:0; top:0;
}