.component-select {

    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    z-index: 999;
    .selection-toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 6px 10px 6px 5px;
        border: none;
        border-radius: 2px;
        height: 28px;
        span {
            display: inline-block;
            width: 80px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:hover {
            border: none;
        }
    }
    .selection-section {

        width: 100%;
        top: 32px;
        position: absolute;
        border-radius: 2px;
        border: 1px solid #66afe9;
        background-color: #ffffff;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        ul > li {
            padding: 0 10px;
            height: 25px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &.selected {
                background-color: #337ab7;
            }
            &:hover {
                background-color: #337ab7;
            }
        }
        ul > li > a, ul > li > span {
            display: block;
            width: 100%;
        }
    }
}
