/** refine select component css style **/
.ant-select {
    .ant-select-selection {
        height: 28px;
        border-radius: 2px;
    }
    .ant-select-selection .ant-select-selection__rendered {
        line-height: 28px;
    }
}

div.ant-select-dropdown {
    border-radius: 2px;
    border: 1px solid #66afe9;
    ul.ant-select-dropdown-menu {
        li.ant-select-dropdown-menu-item {
            height: 25px;
            padding: 3px 8px;
        }
        li.ant-select-dropdown-menu-item:hover {
            color: #fff;
            background-color: #337ab7;
        }
        li.ant-select-dropdown-menu-item-selected {
            color: #fff;
            background-color: #337ab7;
        }
    }

    ul.ant-select-tree {

        > li > span.ant-select-tree-node-content-wrapper {
            cursor: not-allowed;
            &:hover {
                background-color: #fff
            }
        }

        > li ul.ant-select-tree-child-tree > li:hover {
            color: #fff;
            background-color: #337ab7;
        }

        > li ul.ant-select-tree-child-tree > li span.ant-select-tree-node-content-wrapper:hover {
            background-color: transparent;
        }

        > li ul.ant-select-tree-child-tree > li span.ant-select-tree-node-selected {
            background-color: #337ab7;
        }
    }
}