.ant-table-wrapper {
    width: 100%;
}

thead.ant-table-thead > tr > th.ant-table-column-sort {
    background-color: #fff;
}

thead.ant-table-thead > tr >th .ant-table-column-sorter {
    height: auto;
    span.ant-table-column-sorter-up, span.ant-table-column-sorter-down {
        width: 50px;
        height: 15px;
        display: block;
        text-align: left;
        position: relative;
    }
    i.anticon-caret-up {
        position: absolute;
        bottom: 0;
    }
    i.anticon-caret-down {
        position: absolute;
        top: 0;
    }
}

table {
    thead.ant-table-thead > tr > th {
        height:40px;
        padding: 0;
        font-size:12px;
        color:#7f8fa4;
        background-color:#fff;
        border-bottom: 1px solid #e7e9ed;
    }

    tbody.ant-table-tbody > tr {
        td {
            height:50px;
            font-size:14px;
            font-weight: 400;
            color:#7f8fa4;
            padding: 0;
            background-color:#fff;
        }
        td:first-child {
            border-left: 2px solid #fff;
        }
    }

    tbody.ant-table-tbody > tr:hover {
        td {
            background-color: #e7f3ff;
        }
        td:first-child {
            border-left: 2px solid #249af1;
        }
    }
}
.table-add-slice table tbody.ant-table-tbody > tr td {
    height: 40px;
}
.table-add-slice .ant-table-content .ant-table-body {
    max-height: 450px;
    overflow: auto;
}

/* checkbox table css style */
.ant-table-small .ant-table-header > table, .ant-table-small .ant-table-body > table {
    padding: 0 !important;
}